{% extends "base.html" %}

{% block content %}

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0">
      CT Scan #{{ ctscan.id }}
    </h1>
    <a href="{% url 'clinic:ct-scan-delete' pk=ctscan.pk %}" class="btn btn-danger">
      Delete
    </a>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <img src="{{ ctscan.image.url }}" alt="CT Scan" class="img-fluid rounded shadow-sm">
    </div>

    <div class="col-md-6">
      <p><strong>Patient: </strong>{{ ctscan.patient }}</p>
      <p><strong>Scan date: </strong>{{ ctscan.scan_date|date:"d.m.Y H:i" }}</p>

      <hr>
      <h4>Description</h4>
      <p>{{ ctscan.description }}</p>
    </div>
  </div>
{% endblock %}
