{% extends "base.html" %}

{% block content %}
  <h1>Doctor List</h1>

  {% if doctor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Username</th>
        <th>Specialization</th>
        <th>Years of experience</th>
      </tr>
      {% for doctor in doctor_list %}
        <tr>
          <td>{{ doctor.id }}</td>
          <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
          <td>{{ doctor.username }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.years_of_experience }}</td>
          <td>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no doctors in the service.</p>
  {% endif %}
{% endblock %}
