{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Doctor List</h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>

  <hr>
  {% if doctor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Username</th>
        <th>Specialization</th>
        <th>Years of experience</th>
      </tr>
      {% for doctor in doctor_list %}
        <tr>
          <td><a href="{% url 'clinic:doctor-detail' pk=doctor.id %}">{{ doctor.id }}</a></td>
          <td>{{ doctor.first_name }} {{ doctor.last_name }}
            {% if user == doctor %}
              (Me)
            {% endif %}
          </td>
          <td>{{ doctor.username }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.years_of_experience }}</td>
          <td>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no doctors in the service.</p>
  {% endif %}
{% endblock %}
