{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0">Patient List</h1>

    <a href="{% url 'clinic:patient-create' %}" class="btn btn-primary">
      Create
    </a>
  </div>

  {% if patient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Birth Date</th>
        <th>Phone Number</th>
      </tr>
      {% for patient in patient_list %}
        <tr>
          <td>{{ patient.id }}</td>
          <td>
            <a href="{{ patient.get_absolute_url }}">{{ patient.first_name }} {{ patient.last_name }}
              {% if user == patient %}
                (Me)
              {% endif %}
            </a>
          </td>
          <td>{{ patient.birth_date }}</td>
          <td>{{ patient.phone_number }}</td>
        </tr>
      {%  endfor %}
    </table>
  {% else %}
    <p>There are no patients in the service.</p>
  {% endif %}
{% endblock %}
