{% extends "base.html" %}

{% block content %}
  <h1>Patient List</h1>

  {% if patient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Birthdate</th>
        <th>Phone number</th>
      </tr>
      {% for patient in patient_list %}
        <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.first_name }} {{ patient.last_name }}</td>
          <td>{{ patient.birth_date }}</td>
          <td>{{ patient.phone_number }}</td>
        </tr>
      {%  endfor %}
    </table>
  {% else %}
    <p>There are no patients in the service.</p>
  {% endif %}
{% endblock %}
