{% load static %}

<header class="header-global">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm sticky-top">
    <div class="container-fluid px-4">
      <a class="navbar-brand fw-bold" href="{% url 'clinic:index' %}">Private Clinic Service</a>
      <div class="d-flex align-items-center gap-3">

        {% if user.is_authenticated %}
          <span class="text-white">
            {{ user.first_name }} {{ user.last_name }}
          </span>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light btn-sm">
              <span class="fas fa-sign-out-alt me-2"></span>
              Logout
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
