<ul class="list-group">
  <li class="list-group-item">
    <a href="{% url 'clinic:index' %}">Home</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'clinic:doctor-list' %}">Doctors</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'clinic:patient-list' %}">Patients</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'clinic:appointment-list' %}">Appointments</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'clinic:ct-scan-list' %}">CT Scans</a>
  </li>
</ul>
